.wrapper{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  align-items:center;
}

.left{
  width:100%;
}

.right{
  padding:40px;
}

.right h2{
  font-size:42px;
  margin-bottom:20px;
}

.right p{
  font-size:18px;
  color:#555;
  max-width:400px;
}

@media(max-width:900px){

  .wrapper{
    grid-template-columns:1fr;
  }

  .right{
    padding:20px 0;
  }

}